# Imports

In [37]:
import pandas as pd
import seaborn as sb
import matplotlib
from matplotlib import cm
import numpy as np
import pylab as pl
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

matplotlib.style.use('ggplot')
%matplotlib notebook
import mpld3
mpld3.enable_notebook()

## Retrieve Data

In [31]:
train_data = pd.read_csv("data/train.csv")
test_data = pd.read_csv("data/test.csv")

/Users/Jojo/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Data Exploration

In [32]:
train_data.dtypes

id               int64
qid1             int64
qid2             int64
question1       object
question2       object
is_duplicate     int64
dtype: object

In [33]:
train_data.head(10)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
5,5,11,12,Astrology: I am a Capricorn Sun Cap moon and c...,"I'm a triple Capricorn (Sun, Moon and ascendan...",1
6,6,13,14,Should I buy tiago?,What keeps childern active and far from phone ...,0
7,7,15,16,How can I be a good geologist?,What should I do to be a great geologist?,1
8,8,17,18,When do you use シ instead of し?,"When do you use ""&"" instead of ""and""?",0
9,9,19,20,Motorola (company): Can I hack my Charter Moto...,How do I hack Motorola DCX3400 for free internet?,0

# Baseline model

In [34]:
# feature: words per question

def count_words(question):
    question = str(question)
    words = question.split()
    return len(words)

train_data["q1l"] = train_data["question1"].apply(count_words)
train_data["q2l"] = train_data["question2"].apply(count_words)
test_data["q1l"] = test_data["question1"].apply(count_words)
test_data["q2l"] = test_data["question2"].apply(count_words)

In [35]:
# feature: repeated words per question

def count_repeats(row):
    q1 = str(row['question1']).lower()
    q2 = str(row['question2']).lower()
    
    w1 = q1.split()
    w2 = q2.split()
    
    count = 0
    
    if len(w1) > len(w2):
        for word in w1:
            if word in w2:
                count = count + 1
    else:
        for word in w2:
            if word in w1:
                count = count + 1
    
    return count

train_data["repeats"] = train_data.apply(count_repeats, axis=1)
test_data["repeats"] = test_data.apply(count_repeats, axis=1)

##### Initial Test

In [41]:
tp = 0
tn = 0
fp = 0
fn = 0

for index, row in train_data.iterrows():
    if (row['repeats']/row['q1l'] + row['repeats']/row['q2l'])/2 >= 0.5:
        if row['is_duplicate'] == 1:
            tp = tp + 1
        else:
            fp = fp + 1
    else:
        if row['is_duplicate'] == 1:
            fn = fn + 1
        else:
            tn = tn + 1

Accuracy:  0.6695490860520913

In [42]:
print("Accuracy: ", (tp+tn)/(tp+tn+fp+fn))
print("False positives: ", fp)
print("False negatives: ", fn)
print("True positives: ", tp)
print("True negatives: ", tn)

Accuracy:  0.6695490860520913
False positives:  87292
False negatives:  46306
True positives:  102957
True negatives:  167735

### Ready train/validation

In [38]:
features = ["repeats", "q1l", "q2l"]

X = train_data[features]
y = train_data["is_duplicate"]

X_train, X_test, y_train, y_val = train_test_split(X, y, test_size = 0.33)

        repeats  q1l  q2l
0            12   14   12
1             5    8   13
2             4   14   10
3             0   11    9
4             2   13    7
5             8   16   16
6             0    4   11
7             4    7    9
8             6    8    8
9             3    9    9
10            2    9   19
11            5    9    8
12            6    7    8
13            5    7    6
14           27   29   29
15            4   15   17
16            3    4    4
17            1   12    8
18            5   14   13
19            7    9    9
20            3    5    7
21            1    6   10
22            4    9    7
23            0    7   11
24            0   17   10
25           13   14   15
26            3    4    6
27            0    8    7
28            7    8    9
29            6    8   12
...         ...  ...  ...
404260        3    6    9
404261        9   10   12
404262        5    7    7
404263        4   11   11
404264        3   16   10
404265        2    8    7
404266        6   12   33
404267       10   11   15
404268        0   13    9
404269        3    7   10
404270        6    8    8
404271        1   13   12
404272        8   15   14
404273        7   10   16
404274        6   11    9
404275        3   10   15
404276        2    3    3
404277        1    4    5
404278        5    6   10
404279        7   13   16
404280       10   11   11
404281       11   13   13
404282        3    7    6
404283        5   16   12
404284        6    6    8
404285       12   14   13
404286        6    8    9
404287        1    4    3
404288        1   17   25
404289        8    8   10

[404290 rows x 3 columns]